.bg-main {
	background-attachment: fixed;
	/*background-image: url('https://images.unsplash.com/photo-1519882189396-71f93cb4714b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
	*/background-position: center;
	background-size: cover;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.center {
	align-items: center;
	justify-content: center;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.title {
	width: 100%;
	border-bottom: 1px solid #4f3232;
	display: flex;
}

.title h2 {
	flex-grow: 1;
}

.title .suffix {

}

section {
	padding: 2em;
}

.container {
	line-height: 1.5;
	margin-bottom: 4rem;
}

.header {
	border: 1px solid #4f3232;
	background-color: rgba(244, 244, 249, 0.8);
}
