@import "node_modules/simple-keyboard/build/css/index.css";
/*!
 * styles.scss
 */

// https://css-tricks.com/approaches-media-queries-sass/
$breakpoint-tablet: 768px;

html body {
	color: #858796;
}

.selected ,
::selection {
	color: black;
	background-color: #ffe959;
}

@media (min-width: $breakpoint-tablet) {

}

.sb {
	width: 100%;
	margin-top: 20px;
	text-align: center;
	div {
		display: inline-block;
		@media screen and (max-width: $breakpoint-tablet) {
			width: 95%;
		}
		width: 80%;
		input#search-box {
			width: 80%;
			@media screen and (max-width: $breakpoint-tablet) {
				width: 85%;
			}
		}
		input#search-box {
			/*background: rgba(0, 0, 0, .375) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAYAAABvVQZ0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQBJREFUeNqslI0RgyAMhdENWIEVWMEVXIGO0BW6Ah2hHcGOoCPYEewINFzBe9IA9id37w4kfEZesHHOCSYUqSPJML+RJlELDwN1pMHxMZNMkr8RTgyz2YPH5LmtwXpIHkOFmKhIlxowDmYAycKnHAHYcTCsSpXOJCie6YWDnXKLGeHLN2stGaqDsXXrX3GFcYcLrfhjtKEhffQ792gYT2nT6pJDjCw4z7ZGdGipOIqNbXIwFUARmCbKpMfYxsWJBmCEDoW7+gYUTAU2s3HJrK3AJvMLkqGHFLgWXTckm+SfSQexs+tLRqwVfgvjgMsvMAT689S5M/sk/I14kO5PAQYAuk6L1q+EdHMAAAAASUVORK5CYII=) no-repeat 14px 14px;*/
			text-indent: 1em;
			display: inline-block;
			height: 3.4em;
			border-radius: 3.4em;
			outline: none;
			padding: 1em 2.5em;
			font-weight: inherit;
			font-size: inherit;
			font-family: inherit;
			color: #777;
			vertical-align: baseline;
			background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAYAAABvVQZ0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAT5JREFUeNqsVLtOw0AQtIMlRJHCEhUVMg398QEUSZnSfILzCXxDPsFu6XAJHWnTcS1lWsprKdmLxtKwvjVBYaTV7cm+udnX5fPb+yyBSmwhVmK/FfPZLyjUPhI8YtXYi23EOovs7PzyevAbsWeoGg5HNUHsCipX8F9TZDOstVgLPxIsxW6w3sHv6dJ2StkLbh6IPtR/AWRfSIET20H9D2U1hfaAgxY2KMagcBSmg9/rmwx0lBqTzGfHoVfVHxXgXzCjHNRHnnHke4vMGc2q0RBR0GSeCLlpLaJGFWKUszVuib32nih7iTFrjXAPyGnQ48c3Gu5AOVlMtMk6NZuf+FiC+AIhV0T+pBQ5ntXceIJKqKko2duJ2TwoLAz5QTVnagJaXWEO8y/wSMuKH9RTJoCTHyNZFidOUEfNu/8WYAAOXUT04MOtlwAAAABJRU5ErkJggg==) 14px 14px no-repeat;
			cursor: text;
		}
		button {
			display: inline-block;
			margin: 0 1em 1em 1em;
		}
	}
}

.posts-component {
	padding: 2em 1em;
	margin: 0 auto 1em auto;
	.card {
		margin-bottom: 1em;
		.card-header {
			display: flex;
			.post-header-title {
				flex-grow: 1;
			}
			.post-header-suffix {
				min-width: 200px;
				text-align: right;
				text-transform: uppercase;
			}
		}
		.card-body {
			.card-text {
				.actual-text {
					person,
					location,
					item {
						text-decoration: underline;
						cursor: pointer;
					}
					person {
						color: coral;
					}
					location {
						color: darkcyan;
					}
					item {
						color: slateblue;
					}
				}
				/* https://css-tricks.com/almanac/properties/g/grid-template-columns/ */
				/*
				display: grid;: Sets the display property to grid, which allows you to create a grid container and specify its grid items.
				grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));: Sets the columns of the grid. The repeat() function creates a repeated pattern of columns. The auto-fit value tells the browser to automatically fill up the available space with as many columns as possible, without overflowing the container. The minmax() function sets the minimum and maximum size of the columns. In this case, the minimum size is set to 250 pixels and the maximum size is set to 1fr, which means that the column will take up as much available space as it can.
				gap: 10px;: Sets the gap or spacing between the grid items. In this case, it is set to 10 pixels.
				Overall, this style creates a grid layout with columns that will automatically adjust to fit the available space, with a minimum size of 250 pixels and a maximum size that expands to fill the available space. The images within the grid will be spaced out by 10 pixels.
				*/
				.image-grid {
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* adjust the minmax value to your liking */
					gap: 10px; /* adjust the gap value to your liking */
					img {
						display: block;
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}
