person,
location,
item {
	text-decoration: underline;
}

person {
	color: coral;
}

location {
	color: darkcyan;
}

item {
	color: slateblue;
}

/* ------------------------------------ */

.card {
	margin-bottom: 1em;
}

.card .card-img {
	border-radius: 0;
}

.posts-component {
	padding: 2em 1em 2em 1em;
	margin: 0 auto 1em auto;
	/*max-width: 1024px;*/
}

.card-header {
	display: flex;
}

.post-header-tile {
	flex-grow: 1;
}

.post-header-suffix {
	min-width: 200px;
	text-align: right;
}

/* ------------------------------------ */

.image-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* adjust the minmax value to your liking */
	gap: 10px; /* adjust the gap value to your liking */
}

.image-grid img {
	display: block;
	width: 100%;
	height: auto;
}

/* ------------------------------------ */
